
<label class="magnet-book-option">
  <input type="radio" name="flagPick" value="mozg-na-100" checked>
  <img src="assets/covers/mozg-na-100.jpg" alt="Мозг на 100+" width="80" height="120">
  <span>Мозг на 100+</span>
</label>
<label class="magnet-book-option">
  <input type="radio" name="flagPick" value="biohacking-mozga" >
  <img src="assets/covers/biohacking-mozga.jpg" alt="Биохакинг мозга" width="80" height="120">
  <span>Биохакинг мозга</span>
</label>
<label class="magnet-book-option">
  <input type="radio" name="flagPick" value="reset" >
  <img src="assets/covers/reset.jpg" alt="RESET" width="80" height="120">
  <span>RESET</span>
</label>